# General Editor and OS Files

# Agent skills and configuration
.agent/

# Visual Studio Code
.vscode/
!.vscode/extensions.json
*.code-workspace

# Visual Studio
.vs/
# *.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains / IntelliJ / Rider
.idea/
*.iws
*.iml
*.ipr

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory

# Common Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build Output (Tùy dự án React/Vue/Node mà có thể là dist hoặc build)
dist/
build/

# Environment Variables (Rất quan trọng để bảo mật)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local