@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-dark font-sans antialiased;
  }
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
